body {
	position: relative;
}
h1 {
	font-family: 'Bungee Inline', cursive;
}
p {
	font-family: 'Questrial', sans-serif;
}
.r1 {
	background-color: #f5e3e3;
}
.r2 {
	background-color: #ffc7b2;
}
.r3 {
	background-color: #cd5c5c;
}
.r4 {
	background-color: #ffd3d7;
}
footer {
	margin-top: 10px;
	margin-bottom: 20px;
}
.r5 {
	background-color: #e6e6e6
}
img {
	margin-top: 10px;
}
.affix {
	background-color: #ffc7b2;
}